body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: #ffffff;
    
}

.container {
    display: flex;
    height: 550px;
    width: 300px;
    flex-direction: column;
    background-color: #1e1e20;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
    background-color: #1e1e20;
    color: white;
    border-radius: 20px;
}

.outputCalc {
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
}

.inputCalc {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 10px 10px 10px 10px;
    font-size: 2.5em;
    word-wrap: break-word;
    word-break: break-all;
}

.buttonPad {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.buttonPad button {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin: 2px;
    background-color: #27292b;
    border: none;
    color: #ffffff;
}

.buttonPad button:hover {
    background-color: #ebeff3;
    color: black;
}

#grow {
    background-color: white;
    padding: 1em;
    border-radius: 20px;
    flex-grow: 1;
    width: 250px;
    text-align: center;
    margin-top: 10px;
    background-color: #7ac57a;
}

#grow:hover {
    background-color: #ebeff3;
    color: black;
}

#orange {
    background-color: #e49534;
    font-weight: bold;
}

#orange:hover {
    background-color: #ebeff3;
    color: black;
}

#red {
    background-color: #2c1f23;
    color: #d04c52;
}

#red:hover {
    background-color: #ebeff3;
    color: black;
}


